body, ul, li, h1, h2, a {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #F63232;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
}
header  h1{
    color: aliceblue;
    border: 8px solid white;
    border-radius: 36px;
    display: inline-block;
    padding: 6px 12px;
}
.banner {
    position:relative;
}
.banner img{
    max-width: 100%;
}
.banner .welcome{
    background-color: #FEB614;
    color: white;
    position: absolute;
    left: 0px;
    top: 30%;
    padding: 30px;
}
.banner h2 {
    font-size: 74px;
}
.banner h2 span{
    font-size: 1.3em;
}
nav {
    background-color: #f4f4f4;
    padding: 20px;
    position: sticky;
    top: 105px;
}
nav ul {
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
nav li{
    width: 25%;
    display: inline-block;
}
nav li a{
    text-decoration: none;
    color: #4b4b4b;
}
nav ul li a.join{
    color: #F63232;
}

main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    text-align: center;
    padding: 40px;
    /* box-sizing serve para incluir o padding
    dentro da caixa, sem deixar sair
    para alem do tamanho maximo da tela, parece uma tecnica de
    responsividade */
    box-sizing: border-box;
}

article h2{
    color: #F63232;
    font-size: 48px;
}

article p{
    line-height: 2em;
    color: #4b4b4b;
}

.images {
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
}
.images li{
    display: inline-block;
    width: 40%;
    margin: 20px 2%;
}
.images li img{
    max-width: 100%;
}
section.join{
    background-color: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b;
}
section.join h2{
    font-size: 2em;
}
form input{
    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 28px;
    border: 4px solid white;
}
footer {
    background-color: #F63232;
    color: #f4f4f4;
    padding: 10px;
    text-align: center;
}

/* pseudoclasses */
nav li a:hover{
    text-decoration:underline;
}

.images li:hover{
    position: relative;
    top: -10px;
}

form input:focus{
    border: 4px dashed #4b4b4b;
    /* outline tira o estilo do browser */
    outline: none;
}
form input:valid{
    border: 4px solid rgb(12, 250, 12);
}

p::selection {
    color: rgb(22, 247, 235);
    background-color: black;
}

/* Responsividade */
@media screen and (max-width: 1400px) {
    .banner .welcome h2{
        font-size: 60px;
    }
    nav li{
        font-size: 18px;
    }
}

@media screen and (max-width: 960px) {
    .banner .welcome h2{
        font-size: 40px;
    }
    
}
@media screen and (max-width: 700px) {
    header h1{
        font-size: 1.3em;
    }
    .banner .welcome{
        position: relative;
        padding: 10px;
    }
    /* tira o <br> do html */
    .banner .welcome br{
        display: none;
    }
    .banner .welcome h2{
        font-size: 25px;
        text-align: center;
    }
    .banner .welcome h2 span{
        font-size: 1em;
    }
    .images li{
        width: 100%;
        margin: 20px 0;
        display: block;
    }
   nav {
       top: 85px;
   }
}
@media screen and (max-width: 500px) {
    nav li{
        font-style: 20px;
        display: block;
        width: 100%;
        margin: 20px 0;
    }
    header{
        position: relative;
    }
    nav{
        top: 0;
    }
}